body,
html {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #f05f40;
}
hr.light {
  border-color: #fff;
}
a {
  color: #f05f40;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
a:hover {
  color: #f05f40;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 800;
}
.bg-primary {
  background-color: #f77a2c !important;
}
.bg-header {
  background-color: #000 !important;
}
.bg-dark {
  background-color: #212529 !important;
}
.bg-dark a {
  color: #f77a2c;
}
.text-faded {
  color: rgba(255,255,255,0.7);
}
section {
  padding: 8rem 0;
}
.section-heading {
  margin-top: 0;
}
::-moz-selection {
  color: #fff;
  background: #f77a2c;
  text-shadow: none;
}
::selection {
  color: #fff;
  background: #f77a2c;
  text-shadow: none;
}
img::selection {
  color: #fff;
  background: transparent;
}
img::-moz-selection {
  color: #fff;
  background: transparent;
}
#mainNav {
  border-bottom: 1px solid rgba(33,37,41,0.1);
  background-color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #f05f40;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
  color: #f05f40;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #f05f40;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #f05f40 !important;
  background-color: transparent;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}
@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255,255,255,0.7);
  }
  #mainNav .navbar-brand:focus,
  #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255,255,255,0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33,37,41,0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #f05f40;
  }
  #mainNav.navbar-shrink .navbar-brand:focus,
  #mainNav.navbar-shrink .navbar-brand:hover {
    color: #f05f40;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #f05f40;
  }
}
header.masthead {
  padding-top: 4rem;
  padding-bottom: calc(4rem - 56px);
  background-image: url("../img/header-bg.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.home header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
}
header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}
header.masthead h1 {
  font-size: 2rem;
}
header.masthead p {
  font-weight: 300;
}
@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}
@media (min-width: 992px) {
  header.masthead {
    height: 40vh;
    min-height: 250px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .home header.masthead {
    height: 100vh;
    min-height: 650px;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}
.service-box {
  max-width: 400px;
}
.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}
.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(240,95,64,0.9);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}
.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
.portfolio-box:focus {
  outline: none;
}
@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}
.text-primary {
  color: #f05f40 !important;
}
.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
.btn-xl {
  padding: 1rem 2rem;
}
.btn-primary {
  background-color: #f77a2c;
  border-color: #f05f40;
}
.btn-readmore {
  background-color: transparent;
  border: solid 2px #f05f40;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #fff;
  background-color: #000;
}
.btn-primary:active,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240,95,64,0.5) !important;
}
.box {
  border: solid 2px #f77a2c;
  padding: 1em;
  margin: 1em 0 2em;
}
@media (min-width: 768px) {
  .box {
    padding: 2em;
    margin: 2em 0;
  }
}
.white {
  color: #fff;
}
.mt-40 {
  margin-top: 40px;
}
.mt-30 {
  margin-top: 30px;
}
.masthead .logo {
  width: 70%;
  max-width: 300px;
  margin-top: 2em;
}
.home .masthead .logo {
  width: 70%;
  max-width: 500px;
  margin-top: 2em;
}
h3 {
  margin-top: 1.3em;
  margin-bottom: 0.5em;
}
.img-responsive {
  max-width: 100%;
}
#tickets {
  background-image: url("../img/photo-1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'IBM Plex Mono', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 0.9rem;
}
#tickets .spacer {
  height: 60px;
  clear: both;
}
#tickets .card {
  color: #fff;
  background: rgba(0,0,0,0.8);
  border: 2px solid #f77a2c;
  border-radius: 0;
  padding-top: 2em;
}
#tickets .card ul.list-group li {
  background: #000;
  border: 1px solid #a24206;
}
#tickets .price {
  font-size: 1.6rem;
  font-weight: 800;
  color: #f77a2c;
}
#tickets h4 {
  text-transform: uppercase;
  color: #dedede;
}
#tickets h5 {
  font-size: 0.9rem;
  margin-top: -7px;
  text-transform: uppercase;
  color: #f77a2c;
}
#tickets .btn-buy {
  font-family: 'IBM Plex Mono', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  letter-spacing: 1px;
  background: rgba(0,0,0,0.9);
  border: 1px solid #f77a2c;
  display: block;
  border-radius: 0;
  color: #fff;
}
#tickets .btn-buy:hover {
  background: rgba(40,40,40,0.9);
}
#tickets.ticket-page-tickets {
  background: #1c1613;
}
#sponsors {
  margin-top: 120px;
  margin-bottom: 100px;
  text-align: center;
}
#sponsors .sponsor-item {
  margin: 30px 20px;
  width: 200px;
}
#sponsors .sponsor-item img {
  width: 100%;
  max-width: 160px;
}
#about p {
  color: #fff;
}
h2.section-heading {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  h2.section-heading {
    font-size: 4rem;
  }
}
footer {
  background: #1c1613;
  width: 100%;
  display: block;
  text-align: center;
  padding: 120px 1em 150px;
}
footer img {
  width: 50%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 2em;
}
ul.nolist {
  list-style: none;
  margin: 0;
  padding: 0;
}
.program-item-block {
  padding-left: 2em;
  margin-top: 2em;
}
.program-item-block h5 {
  color: #f77a2c;
}
.btn-primary {
  margin-top: 1em;
  margin-bottom: 3em;
  padding: 1em 3em;
}
.navbar-brand {
  font-size: 0;
  display: block;
  width: 150px;
  height: 56px;
  background-image: url("../img/stream-logo-nega.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.navbar .navbar-brand {
  background-position: 0 -60px;
}
.navbar-shrink .navbar-brand {
  background-position: center center;
}
#mainNav.navbar-shrink {
  background: #1c1613;
  color: #fff;
}
#mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
#mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
  color: #fff;
}
