.navbar-brand
  font-size: 0
  display: block
  width: 150px
  height: 56px
  background-image: url('../img/stream-logo-nega.svg')
  background-position: center center
  background-size: contain
  background-repeat: no-repeat

.navbar
  .navbar-brand
    background-position: 0 -60px
    margin-left: 4px

.navbar-shrink
  .navbar-brand
    background-position: center center

#mainNav.navbar-shrink
  background: color-dark
  color: white
#mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link, #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus
  color: white







@media(max-width:767px)
  #mainNav
    margin: 0
    padding: 0
  .navbar-collapse.show
    background: color-dark
    margin: 0
    padding: 1em
    a
      color: white !important



.dropdown-menu.show
  background: color-dark
  color: white
  a
    color: white
    &:hover
      background: color-primary
      color: color-dark
