// font


.white
  color: white

.mt-40
  margin-top: 40px
.mt-30
  margin-top: 30px

.masthead .logo
  width: 70%
  max-width: 300px
  margin-top: 2em

.home .masthead .logo
  width: 70%
  max-width: 500px
  margin-top: 2em

.only-lg
  display: none
  @media(min-width:991px)
    display: block

span.keep
  display: inline-block

h3
  margin-top: 1.3em; margin-bottom: 0.5em;

.img-responsive
  max-width: 100%


.card
  color: white
  background: rgba(0,0,0,0.8)
  border: 2px solid color-primary
  border-radius: 0
  padding-top: 1em


#tickets
  background-image: url(../img/photo-1.jpg)
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  background-attachment: fixed
  font-family: 'IBM Plex Mono', 'Open Sans', 'Helvetica Neue', Arial, sans-serif
  font-size: .9rem
  .spacer
    height: 60px
    clear: both
  .card
    color: white
    background: rgba(0,0,0,0.8)
    border: 2px solid color-primary
    border-radius: 0
    padding-top: 2em
    ul.list-group
      li
        background: black
        border: 1px solid lightness(color-primary, 33%)
  .price
    font-size: 1.6rem
    font-weight: 800
    color: color-primary
  h4
    text-transform: uppercase
    color: #dedede
  h5
    font-size: .9rem
    margin-top: -7px
    text-transform: uppercase
    color: color-primary
  .btn-buy
    font-family: 'IBM Plex Mono', 'Open Sans', 'Helvetica Neue', Arial, sans-serif
    letter-spacing: 1px
    background: rgba(0,0,0,.9)
    border: 1px solid color-primary
    display: block
    border-radius: 0
    color: white
    &:hover
      background: rgba(40,40,40,0.9)
  .second-btn
    border-top: none

#tickets.ticket-page-tickets
  background: color-dark-alt


#sponsors
  margin-top: 120px
  margin-bottom: 100px
  text-align: center
  .sponsor-item
    margin: 30px 20px
    width: 200px;
    img
      width: 100%
      max-width: 160px
  h1
    font-size: 2.2rem
    color: lightness(black, 90%)



#about
  p
    color: white



h2.section-heading
  font-size: 2.5rem
  @media(min-width:768px)
    font-size: 4rem



footer
  background: color-dark
  width: 100%
  display: block
  text-align: center
  padding: 120px 1em 150px
  img
    width: 50%
    max-width: 400px
    margin: 0 auto
    margin-top: 2em


ul.nolist
  list-style: none
  margin: 0
  padding: 0



.btn-primary
  margin-top: 1em
  margin-bottom: 3em
  padding: 1em 3em



#socialmedia
  background: color-dark-alt
  .some-icons
    margin-top: 60px
    margin-bottom: 30px

  .some-icons a
    margin: 1.2rem

    img
      width: 40px

@media (min-width:768px)
  #socialmedia .some-icons
    margin-top: 5px
    margin-bottom: 30px



#team
  font-family: 'IBM Plex Mono', 'Open Sans', 'Helvetica Neue', Arial, sans-serif
  font-size: .9rem
  .spacer
    height: 60px
    clear: both
  .card
    color: white
    background: rgba(0,0,0,0.8)
    border: 2px solid color-primary
    border-radius: 0
    margin-top: 1em
    margin-bottom: 1em
  h5
    color: color-primary
    margin-top: -4px
    margin-bottom: 10px
    font-size: 1rem
  .contact
    margin-top: 15px
    margin-bottom: 15px
  .email, .linkedin
    border-top: 1px solid color-primary
    border-bottom: 1px solid color-primary
    margin: 4px 0 4px
    a
      color: color-primary
      display: block
      &:hover
        color: black
        background: color-primary
        text-decoration: none


.program
  section
    padding: 60px 0
  h1
    font-size: 3.3rem
    margin-bottom: 2.4rem
    @media(min-width: 768px)
      font-size: 4.3rem
      margin-bottom: 2.4rem
  .table
    h5
      color: color-primary
      margin-bottom: 0
      font-size: 1.1rem
    p
      margin-bottom: 0.5rem
      margin-top: 0.5rem
    th
      width: 150px
      @media(max-width: 767px)
        width: 100px
  .program-item-block
    h5
      color: color-primary
      margin-bottom: 0.5em
  .program-logo
    width: 300px
    max-width: 70%
    margin: 0 auto 1.5em auto
    display: block
  .header
    border-top: 1px solid #333
    padding: 30px 1rem


#speakers
  padding: 100px 0 80px
  h1
    margin-bottom: 40px
  .speaker-box
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    width: 100%
    height: 270px
    position: relative
    margin-bottom: 30px
    &::after
      content: " "
      display: block
      width: 100%
      height: 270px
      background: rgba(0,0,0,0.2)
      transition: all ease 0.15s
    &:hover::after
      background: rgba(0,0,0,0.6)
    @media(max-width: 767px)
      max-width: 280px
      margin: 20px auto 20px
    .speaker-texts
      position: absolute
      bottom: 0
      left: 0
      right: 0
      padding: 10px
      text-shadow: 0 2px 7px rgba(0,0,0,0.3)
      h3
        font-size: 1.4rem
        margin: 0 0 6px 0
      h5
        font-size: 0.9rem
        margin: 0
        padding: 0
        text-transform: uppercase



.hotel-logo
  width: 200px


.youtube-video
  iframe
    max-width: 100%


.investorpreevent
  strong
    color: color-primary


#speakers
  .sponsor-item
    margin: 30px 20px
    img
      width: 100%
      max-width: 210px
      @media(max-width: 767px)
        max-width: 170px
        text-align: center
        display: block
        margin: 0 auto


.workshop-item
  padding: 1.4em 0 0.6em
  h6
    color: color-primary
    padding-left: 1rem
  p
    padding-left: 1rem
