// font


.masthead .logo
  width: 70%
  max-width: 500px
  margin-top: 2em


.img-responsive
  max-width: 100%

#spacer
  background-image: url(../img/photo-1.jpg)
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  background-attachment: fixed



#sponsors
  margin-top: 120px
  .sponsor-item
    margin: 30px 0



#about
  p
    color: white



h2.section-heading
  font-size: 2.5rem
  @media(min-width:768px)
    font-size: 4rem



footer
  background: color-dark
  width: 100%
  display: block
  text-align: center
  padding: 120px 1em 150px
  img
    width: 50%
    max-width: 400px
    margin: 0 auto
    margin-top: 2em
