// font


.white
  color: white

.mt-40
  margin-top: 40px
.mt-30
  margin-top: 30px

.masthead .logo
  width: 70%
  max-width: 300px
  margin-top: 2em

.home .masthead .logo
  width: 70%
  max-width: 500px
  margin-top: 2em

h3
  margin-top: 1.3em; margin-bottom: 0.5em;


.img-responsive
  max-width: 100%

#tickets
  background-image: url(../img/photo-1.jpg)
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  background-attachment: fixed
  font-family: 'IBM Plex Mono', 'Open Sans', 'Helvetica Neue', Arial, sans-serif
  font-size: .9rem
  .spacer
    height: 60px
    clear: both
  .card
    color: white
    background: rgba(0,0,0,0.8)
    border: 2px solid color-primary
    border-radius: 0
    padding-top: 2em
    ul.list-group
      li
        background: black
        border: 1px solid lightness(color-primary, 33%)
  .price
    font-size: 1.6rem
    font-weight: 800
    color: color-primary
  h4
    text-transform: uppercase
    color: #dedede
  h5
    font-size: .9rem
    margin-top: -7px
    text-transform: uppercase
    color: color-primary
  .btn-buy
    font-family: 'IBM Plex Mono', 'Open Sans', 'Helvetica Neue', Arial, sans-serif
    letter-spacing: 1px
    background: rgba(0,0,0,.9)
    border: 1px solid color-primary
    display: block
    border-radius: 0
    color: white
    &:hover
      background: rgba(40,40,40,0.9)

#tickets.ticket-page-tickets
  background: color-dark


#sponsors
  margin-top: 120px
  margin-bottom: 100px
  text-align: center
  .sponsor-item
    margin: 30px 20px
    width: 200px;
    img
      width: 100%
      max-width: 160px



#about
  p
    color: white



h2.section-heading
  font-size: 2.5rem
  @media(min-width:768px)
    font-size: 4rem



footer
  background: color-dark
  width: 100%
  display: block
  text-align: center
  padding: 120px 1em 150px
  img
    width: 50%
    max-width: 400px
    margin: 0 auto
    margin-top: 2em


ul.nolist
  list-style: none
  margin: 0
  padding: 0

.program-item-block
  padding-left: 2em
  margin-top: 2em
  h5
    color: color-primary



.btn-primary
  margin-top: 1em
  margin-bottom: 3em
  padding: 1em 3em
